#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

.logo {
    width: 80px;
}

#background {
    height: 725px;
    background-color: #023047;
}

body {
    background-color: #023047;
    color: #219EBC
}

header {
    background-color: #023047;
    color: #219EBC
}

nav a:hover {
    background-color: #023047;
    color: #219EBC
}


.book,
.join {
    background-color: #023047;
    color: #219EBC
}

.book:hover,
.join:hover {
    background-color: #023047;
    color: #219EBC
}

.msg {
    background-color: #023047;
    color: #219EBC
}

footer {
    background-color: #023047;
    color: #219EBC
}

home-title {
    background-color: whitesmoke;
    color: #219EBC
}

h4 {
    background-color: #023047;
    color: #219EBC
}

.msg h2 {
    background-color: #023047;
    color: #219EBC
}

.msg p {
    background-color: #023047;
    color: #219EBC
}

a footer {
    background-color: #023047;
    color: #219EBC
}

a:hover {
    background-color: #023047;
    color: #219EBC
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}

.book,
.join {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}

footer a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}