@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Cutive&family=Rokkitt&display=swap');

/**
--heading-font: "Arvo";
  --paragraph-font: "Rokkitt, Cutive, Arvo ";
  **/


body {
    background-color: #023047;
    margin: 0;
    padding: 0;
    font-family: 'Rokkitt, Cutive, Arvo';
    font-size: 22px;
    color: #219EBC
}

header {
    background-color: #023047;
    color: #219EBC
}

#logo-link{
    padding-top: 5px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    padding: 35px;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

.logo {
    width: 80px;
}

#background {
    height: 725px;
    background-color: #023047;
}

nav a:hover {
    background-color: #023047;
    color: #219EBC
}


.book,
.join {
    background-color: #023047;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #219EBC;
    box-sizing: border-box;
    color: #219EBC
}

.book,
.join {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    margin-top: 50px;
}

.book:hover,
.join:hover {
    background-color: #023047;
    color: #219EBC
}

.msg {
    background-color: #023047;
    padding: 35px;
    line-height: 1.5em;
    color: #219EBC
}

footer {
    background-color: #023047;
    margin-top: 200px;
    padding: 25px 50px;
    color: #219EBC
}

home-title {
    background-color: whitesmoke;
    margin-top: 10px;
    font-family: "Arvo";
    font-size: 2em;
}

h4 {
    background-color: #023047;
    color: #219EBC
}

.msg h2 {
    background-color: #023047;
    font-family: "Rokkitt, Cutive, Arvo ";
}

.msg p {
    background-color: #023047;
    padding-bottom: 15px;
    font-size: .8em;
    color: #219EBC
}

a footer {
    background-color: #023047;
    color: #219EBC
}

a:hover {
    background-color: #023047;
    color: #219EBC
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}

footer a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

h2 {
    margin: 0;
}

.icon{
    padding-top: 10px;
}

footer .social img{
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
} 

main section img {
    box-sizing: border-box;
}

.card-img {
    border: 10px solid #219EBC;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #7eb8cb;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}






/*must be on bottom*/
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}