.accordion {
    background-color: rgb(73, 73, 163);
    color: #37112a;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: rgb(153, 94, 134);
  }
  
  .panel {
    padding: 0 18px;
    background-color: rgb(153, 94, 134);
    display: none;
    overflow: hidden;
  }

  h1, h2{
    text-align: center;
  }