<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accordian Component Example</title>
    <link rel="stylesheet" href="component-styles.css">
</head>

<body>
    <h1> My Friends </h1>
    <button class="accordion">Introduction</button>
    <div class="panel">
        <p>Hey there! I'm excited to share highlights of my exciting journey through the first three months of college, 
            where friendships and memories were made. </p>
    </div>

    <button class="accordion">Friendships</button>
    <div class="panel">
        <p>In my first week in college, my roommate and I made some friends at I night and we've all been best friends since.
        We hang out almost everyday and make the best memories. In late October,we all went Jackson, Wyoming for a day and it was a 
        great experience. We went around the park and got some cool pictures. Three of the boys in our group are in a band, so we get
        our own live music when we go to their apartment! They sometimes play at small concerts, and it's really cool to see them 
        progressing everyday. They also try to teach us how to play the instruments they have (which doesn't end well). 
        Another fun memory I have is our friend group's song. At the beginning of the semester, my friend Bridget played "Teleport To 
        Me" by WZRD. We turn it on everytime in the car and all of memories of our friend group come in my mind. 
        </p>
    </div>

    <button class="accordion">College Pictures</button>
    <div class="panel">
        <p>Me and my best friends!!</p>
        <img src="image0.jpeg" width="425" height="400" alt="Jackson trip">
        <img src="image1.jpeg" width="425" height="400" alt="Friends at concert">
        <img src="image2.jpeg" width="425" height="400" alt="Friends at sand dunes">
        <img src="image3.jpeg" width="425" height="400" alt="The band">
        <img src="image4.jpeg" width="425" height="400" alt="Roomies">
        <img src="image5.JPG" width="425" height="400" alt="Group hug">
        <p> </p>
    </div>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
</body>

</html>